ErrorDocument 404 /index.html

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteBase /
RewriteRule ^index\.html$ / [NC,R,L]
RewriteRule ^(.*)\.html$ /$1 [L,R=301]
