.App {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 2.0;
  background-color: white;
}

body {
  height: 100%;
}

.header-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 8vh;
}

.footer-logo{
  height: 8vh;
}

#navbar li:after {
  content: " | ";
}

#navbar li:last-child:after {
  content: "";
}

#navbar {
  position: fixed;
  right: 2vw;
}

#navbar ul li{
  float: left;
  display: inline;
}

#navbar a {
  text-decoration: none;
  font-size: 0.80rem;
  color: black;
}

#navbar a:hover {
  color: #6cfbfe;
}

header {
  display: flex;
  background-color: white;
  height: 8vh;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

::-webkit-scrollbar {
    display: none;
}

.home h1{
  font-size: 1.6rem;
  margin: auto;
  padding-top: 5vh;
}

.home h3 {
  margin: auto;
  font-size: 0.9rem;
}

.home {
  background: url("media/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #181818;
  padding-top: 8vh;
  height: 92vh;
}

.intro {
  margin: auto;
  color: white;
  height: 90vh;
  z-index: 1;
}

.pageBorder {
  position: relative;
  text-align: center;
  overflow-x: hidden;
  z-index: 5;
}

.border-img {
  overflow-x: hidden;
  width: 100vw;
  height: 10vh;
}

h2 {
  position: absolute;
  font-size: 1.4rem;
  margin: 0 auto;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#meet-memo {
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  padding-top: 8vh;
  height: 92vh;
}

#meet-memo p {
  margin: 2vh 20vw;
  font-size: 1.1rem;
}

.package-img{
  height: 60vh;
}

#features {
  background: url("media/features.png");
  background-size: cover;
  padding-top: 8vh;
  height: 92vh;
  background-position: center center;
  background-repeat: no-repeat;
}

.background-image {
  position: absolute;
  height: 92vh;
}

.features-container {
  height: 92vh;
  text-align: left;
  z-index: -1;
  position: flex;
}

.features-container p {
  padding-left: 5vw;
  margin: 1rem 0;
}

#connectivity {
  background: url("media/connectivity-img.jpg");
  background-size: cover;
  padding-top: 8vh;
  height: 92vh;
  background-position: center center;
  background-repeat: no-repeat;
}

#connectivity {
  font-size: 1.2rem;
}

#memo-app {
  padding-top: 8vh;
  height: 92vh;
}

#memo-app p {
  margin: 2vh 10vw;
  font-size: 1.1rem;
}

#memo-app ul{
  list-style: none;
  padding-left: 0;
}

#memo-app ul li {
  display: inline-flex;
  width: 30vw;
}

#memo-app ul li p{
  margin: auto;
  text-align: center;
}

.app-img {
  width: 13vw;
  height: 24vw;
}

#local-authorities {
  padding-top: 8vh;
  height: 92vh;
}

img {
  margin: auto;
  height: 40vh;
}

#contact {
  padding-top: 8vh;
  height: 92vh;
}

#contact h3 {
  margin: 0;
}

.left-float {
  float: left;
}

.container {
  height: 77vh;
}
/* Gap between footer and contact divs for some reason, needs removing */

.footer {
  background-color: #222;
  color: white;
  height: 15vh;
}

.show-menu {
  display: none;
  text-decoration: none;
}

input[type=checkbox]{
  display: none;
  z-index: 9999;
}

input[type=checkbox]:checked ~ #navbar{
  display: block;
  z-index: 9999;
}

@media only screen and (max-width: 1400px){

  .header-logo {
    position: absolute;
    left: 0;
    padding-left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 8vh;
  }

  #features {
      background-position: left;
  }

}

@media only screen and (max-width: 1024px) {

  .mobile-header-logo {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 8vh;
  }

  .home h1 {
    font-size: 1.4rem;
  }

  .home h3 {
    font-size: 0.8rem;
  }

  #navbar {
    margin-top: 8vh;
    position: fixed;
    display: none;
    left: 0;
    width: 25vw;
    background-color: white;
  }

  #navbar li:after {
    content: "";
  }

  #navbar ul {
    margin: 0;
    padding-left: 0;
  }

  #navbar ul li {
    margin-bottom: 1px;
    float: none;
    display: block;
  }

  .show-menu {
    padding-left: 5vw;
    margin: auto 0;
    display: block;
  }

  #meet-memo {
    padding-top: 0;
    height: auto;
  }

  #meet-memo p {
    margin: 5vh 5vw;
  }

  .img-container{
    width: 100%;
    overflow-x: hidden;
  }

  .package-img {
    transform: translate(-21%, 0);
  }

  .pageBorder {
    background-image: url("media/mobile-page-border.png");
    height: 8vh;
    background-position: center center;
    background-size: cover;
  }

  #features {
    background-position: left;
    height: auto;
    padding-top: 0;
  }

  #features p {
    padding-right: 5vw;
  }

  #connectivity {
    background-image: none;
    padding-top: 0px;
    height: auto;
  }

  #connectivity p {
    margin: 5vh 5vw;
  }

  .connectivityImg{
    transform: translate( -10%, 0);
  }

  h2 {
    width: 100%;
  }

  #memo-app {
    padding-top: 0;
    height: auto;
  }

  #memo-app p {
    margin: 5vh 5vw;
  }

  #memo-app ul li {
    padding-right: 5vw;
    display: block;
    width: auto;
  }

  #memo-app ul {
    list-style: circle;
    padding-left: auto;
  }

  .app-img {
    width: 50vw;
    height: 50vh;
  }

  #local-authorities {
    padding-top: 0;
    height: auto;
  }

  #local-authorities p {
    margin: 5vh 5vw;
  }

  #local-authorities li {
    padding-right: 5vw;
  }

  #contact {
    padding-left: 0;
  }

}
