.App {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 2.0;
  background-color: white;
}

body {
  height: 100%;
}


header {
  background-color: white;
  height: 8vh;
  position: fixed;
  width: 100vw;
}

.header-logo {
  height: 8vh;
}

.home h1{
  margin: auto;
  padding-top: 5vh;
}

.home h3 {
  margin: auto;
  font-size: 1rem;
}

.home {
  padding-top: 8vh;
  background-color: #010101;
  height: 92vh;
}

.home-video {
  height: 70vh;
}

.intro {
  margin: auto;
  color: white;
  height: 90vh;
}

.pageBorder {
  position: relative;
  text-align: center;
  overflow-x: hidden;
}

.border-img {
  overflow-x: hidden;
  width: 100vw;
  height: 10vh;
}

h2 {
  position: absolute;
  font-size: 1.4vw;
  margin: 0 auto;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#meet-memo {
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  padding-top: 8vh;
  height: 92vh;
}

#meet-memo p {
  margin: 2vh 20vw;
  font-size: 1.4rem;
}

.package-img{
  height: 60vh;
}

#features {
  background: url("media/features.png");
  background-size: contain;
  padding-top: 8vh;
  height: 92vh;
}

.background-image {
  position: absolute;
  height: 92vh;
}

.features-container {
  position: relative;
  text-align: left;
}

.features-container p {
  padding-left: 5vw;
  margin: 1rem 0;
}

#connectivity {
  padding-top: 8vh;
  height: 92vh;
}

#memo-app {
  padding-top: 8vh;
  height: 92vh;
}

#memo-app p {
  margin: 2vh 30vw;
  font-size: 1.1rem;
}

#local-authorities {
  padding-top: 8vh;
  height: 92vh;
}

#contact {
  padding-top: 8vh;
  height: 92vh;
}

/* Gap between footer and contact divs for some reason, needs removing */

.footer {
  background-color: #222;
  color: white;
  height: 25vh;
}
