.App {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 2.0;
  background-color: #eaeaea;
}

body {
  height: 100%;
}

header h1 {
  font-size: 3vw;
}

header p {
  font-size: 1.8vw;
}

.wrapper {
  margin: auto;
  width: 100%;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: block;
  position: relative;
  color: white;
  margin: auto;
}

ul li a {
  cursor: pointer;
  display: block;
  padding: 10px;
  width: 4px;
  height: 4px;
  z-index: 1;
  text-decoration: none;
}

ul li a span {
  color: white;
  width: 4px;
  height: 4px;
  background: none;
  border-radius: 50%;
  border: 1px solid white;
  display: block;
  background-color: white;
}

ul li a:hover span {
  color: white;
  width: 10px;
  height: 10px;
  background: none;
  border-radius: 50%;
  border: 1px solid white;
  display: block;
}

ul li a:active span {
  color: white;
  width: 10px;
  height: 10px;
  background: none;
  border-radius: 50%;
  border: 1px solid white;
  display: block;
}

#navbar {
  position: fixed;
  left: 95vw;
  top: 45vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vh;
}

.header {
  background-color: #191919;
  height: 100vh;
}

.header-video {
  height: 40vh;
}

.page-title {
  height: 20vh;
}

.intro {
  margin: auto;
  width: 60vw;
  color: #afafaf;
  height: 60vh;
}

.products {
  height: 200vh;
}

.product {
  display: flex;
  height: 50vh;
}

.product-title {
  margin: 0;
  font-size: 1.6rem;
}

.product-desc p {
  overflow: scroll;
  font-size: 1.3vw;
}

.product-desc {
  align-items: center;
  margin: auto;
  text-align: left;
  padding: 0 10vw;
}

.product-image {
  flex-shrink: 0;
  height: 40vh;
}

.product-left {
  flex-shrink: 0;
  height: 50vh;
  width: 40vw;
  background-color: #484848;
}

.product-right {
  flex-shrink: 0;
  height: 50vh;
  width: 40vw;
  background-color: #484848;
}

.product-full {
    background-color: #191919;
    height: 100vh;
    display: flex;
}

.product-full-desc {
  color: #afafaf;
  width: 40vw;
  padding: 10vh 5vw;
}

.product-images {
  width: 50vw;
  height: 100vh;
}

.product-full-image {
  height: 45vh;
}

.contact {
  height: 75vh;
}

/* Gap between footer and contact divs for some reason, needs removing */

.footer {
  background-color: #222;
  color: white;
  height: 25vh;
}
