a {
  cursor: pointer;
  display: block;
  padding: 10px;
  width: 4px;
  height: 4px;
  z-index: 1;
  text-decoration: none;
}

a span {
  color: white;
  width: 4px;
  height: 4px;
  background: none;
  border-radius: 50%;
  border: 1px solid white;
  display: block;
  background-color: white;
}

a:hover span {
  color: white;
  width: 10px;
  height: 10px;
  background: none;
  border-radius: 50%;
  border: 1px solid white;
  display: block;
}

.active span {
  color: white;
  width: 10px;
  height: 10px;
  background: none;
  border-radius: 50%;
  border: 1px solid white;
  display: block;
}
